<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>fals</title>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css?h=cd822b7fd22c8a95a68470c795adea69">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
    <link rel="stylesheet" href="/static/assets/css/fals.css">
</head>

<body id="page-top" class="body">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper"><section class="navbar-top">
    <div class="container navbar-container">
        <div class="row navbar-row-icon">
            <div class="col-md-6 navbar-column-icon">
                    <img class="logo" src="/static/assets/img/fals-blue-logo.png" width="100px" height="100px" alt="Logo">
            </div>
        </div>
        <div class="row navbar-row-menu">
            <div class="row navbar-row-icon">
                <div class="col-md-6 navbar-column-icon">
                    <svg class="fs-2 text-white hamburger-menu-icon" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 30 30" fill="none">
                        <path d="M2 6C2 5.44772 2.44772 5 3 5H21C21.5523 5 22 5.44772 22 6C22 6.55228 21.5523 7 21 7H3C2.44772 7 2 6.55228 2 6Z" fill="currentColor"></path>
                        <path d="M2 12.0322C2 11.4799 2.44772 11.0322 3 11.0322H21C21.5523 11.0322 22 11.4799 22 12.0322C22 12.5845 21.5523 13.0322 21 13.0322H3C2.44772 13.0322 2 12.5845 2 12.0322Z" fill="currentColor"></path>
                        <path d="M3 17.0645C2.44772 17.0645 2 17.5122 2 18.0645C2 18.6167 2.44772 19.0645 3 19.0645H21C21.5523 19.0645 22 18.6167 22 18.0645C22 17.5122 21.5523 17.0645 21 17.0645H3Z" fill="currentColor"></path>
                    </svg>
                </div>
            </div>
		</div>
	</section>
            <main class="primary-content-div">
                <div class="container-fluid">
				<!-- Embedded Dashboard -->
					<iframe
						src="{{iframeUrl}}"
						frameborder="0"
						width="100%"
						style="min-height: 100vh;"
						allowtransparency
					></iframe>
				</div>
            </main>
        </div>
    </div><!-- Start: Footer Multi Column -->
    <footer class="sticky-footer">
        <div class="container footer-container">
            <div class="row justify-content-center">
                <!-- Start: Services -->
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                    <h3 class="fs-4" style="color: #21313c;font-weight: bold;text-decoration: underline;">Site Map</h3>
                    <ul class="list-unstyled">
                        <li><a class="footer-links" href="#" style="color: var(--bs-body-bg);font-weight: bold;">Dashboard</a></li>
                        <li></li>
                    </ul>
                </div><!-- End: Services -->
                <!-- Start: About -->
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                    <ul class="list-unstyled">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div><!-- End: About -->
                <!-- Start: Social Icons -->
                <div class="col-lg-3 text-center text-lg-start d-flex flex-column align-items-center order-first align-items-lg-start order-lg-last item social">
                    <div class="fw-bold d-flex align-items-center mb-2"></div>
                </div><!-- End: Social Icons -->
            </div>
            <div class="d-flex justify-content-between align-items-center justify-content-xxl-center pt-3">
                <ul class="list-inline mb-0"></ul>
            </div>
        </div>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js?h=e55bde7d6e36ebf17ba0b8c1e80e4065"></script>
</body>

</html>